.elementor-186 .elementor-element.elementor-element-Yc1zNRK{padding:0px 20px 0px 20px;}.elementor-186 .elementor-element.elementor-element-dQ5ede0{padding:0% 10% 0% 10%;}.elementor-186 .elementor-element.elementor-element-eFo114Q .elementor-element-populated{padding:0px 40px 0px 40px;}.elementor-186 .elementor-element.elementor-element-160ea7c{padding:0px 0px 0px 0px;}.elementor-186 .elementor-element.elementor-element-0150fc7 .elementor-element-populated{padding:0px 10px 0px 10px;}.elementor-186 .elementor-element.elementor-element-0135622 .elementor-element-populated{padding:0px 10px 0px 30px;}.elementor-186 .elementor-element.elementor-element-RrUvwek:not(.elementor-motion-effects-element-type-background), .elementor-186 .elementor-element.elementor-element-RrUvwek > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#232A30;}.elementor-186 .elementor-element.elementor-element-RrUvwek{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-186 .elementor-element.elementor-element-RrUvwek > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-186 .elementor-element.elementor-element-snOxJh1 .elementor-spacer-inner{height:30px;}.elementor-186 .elementor-element.elementor-element-yGHs1Xf .elementor-spacer-inner{height:40px;}@media(max-width:767px){.elementor-186 .elementor-element.elementor-element-Yc1zNRK{padding:0px 0px 0px 0px;}.elementor-186 .elementor-element.elementor-element-eFo114Q .elementor-element-populated{padding:10px 10px 10px 10px;}}/* Start custom CSS for jnews_block_1_elementor, class: .elementor-element-ng7v6Ma */.jeg_block_heading_8 .jeg_block_title {
    font-size: 40px !important
    
}

.jeg_subcat_right .jeg_subcat {
    float: left;
    padding-left: 20px
}

.jeg_block_heading_8{
    display: flex;
    align-items: center;
}/* End custom CSS */
/* Start custom CSS for jnews_block_22_elementor, class: .elementor-element-2955IYe */.jeg_pb_boxed, .jnews_boxed_container .jeg_account_right, .jnews_boxed_container .jeg_authorpage .jeg_author_wrap, .jnews_boxed_container .jeg_inner_content, .jnews_boxed_container .jeg_main .widget, .jnews_boxed_container .jnews_index_content_wrapper {
    background-color: #232A30 !important
}


.jeg_block_heading_6 .jeg_block_title {
    font-size: 30px !important
    
}/* End custom CSS */
/* Start custom CSS */.vc_custom_1589477376708{background-color: #232a30 !important;}/* End custom CSS */